
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header bg-info" style="text-align:center">
      <button type="button" class="close" ng-click="cancelNewInvoice()">&times;</button>
      <h3 class="modal-title text-center">Shipment Details</h3>
    </div><!--end modal header-->
    <div class="modal-body">
      <h5>
        Date: {{newInvoice.date | date: medium-date}}
      </h5>
      <br />

      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-8">
              <p>Send bill to: </p>
              <select class="form-control"
                      ng-model="newInvoice.billToCustomer"
                      ng-options="customer.name for customer in customers"
                      ng-change="newSetBillTo(newInvoice.billToCustomer)">
                <option value="" disabled selected>- Select Customer -</option>
              </select>
            </div><!--end col-md-8-->
          </div><!--end row-->
          <br />

          <div class="panel panel-info" ng-show="newInvoice.billTo">
            <div class="panel-heading"><h3 class="panel-title"><strong>Bill To:</strong></h3></div>
            <div class="panel-body">
              <p><strong>Customer Name: </strong>{{newInvoice.billTo.name}}</p>
              <p><strong>Company Name: </strong>{{newInvoice.billTo.companyName}}</p>
              <p><strong>Street Address: </strong>{{newInvoice.billTo.streetAddress}}</p>
              <p><strong>City, Zip: </strong>{{newInvoice.billTo.city}}, {{newInvoice.billTo.zipCode}}</p>
              <p><strong>Phone/Fax: </strong>{{newInvoice.billTo.phoneNumber}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <p>Send package to: </p>
              <select ng-model="newInvoice.shipToCustomer"
                      class="form-control"
                      ng-options="customer.name for customer in customers"
                      ng-change="newSetShipTo(newInvoice.shipToCustomer)">
                <option value="" disabled selected>- Select Customer -</option>
              </select>
            </div><!--end col-md-8-->
          </div><!--end row-->
          <br />

          <div class="panel panel-info"  ng-show="newInvoice.shipTo">
            <div class="panel-heading"><h3 class="panel-title"><strong>Ship To:</strong></h3></div>
            <div class="panel-body">
              <p><strong>Customer Name: </strong>{{newInvoice.shipTo.name}}</p>
              <p><strong>Company Name: </strong>{{newInvoice.shipTo.companyName}}</p>
              <p><strong>Street Address: </strong>{{newInvoice.shipTo.streetAddress}}</p>
              <p><strong>City, Zip: </strong>{{newInvoice.shipTo.city}}, {{newInvoice.shipTo.zipCode}}</p>
              <p><strong>Phone/Fax: </strong>{{newInvoice.shipTo.phoneNumber}}</p>
            </div><!--end panel-body-->
          </div><!--end panel-->
        </div><!--end col-md-6-->
      </div>
      <div class="row" ng-show="newInvoice.shipTo">
        <div class="col-md-5">
          <select ng-model="newInvoice.selectedItem"
                  class="form-control"
                  ng-options="item.description for item in items">
            <option value="" disabled selected>- Add item to invoice -</option>
          </select>
        </div>
        <button class="btn btn-primary"
                ng-click="pushToItemList(newInvoice.selectedItem)">
          Add
        </button>
      </div>
      <br />
      <div ng-show="!listExists && newInvoice.shipTo "><hr /><h4 style="text-align: center;">No items selected</h4></div>
      
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover" ng-show="listExists">
            <thead>
              <tr>
                <th class="col-md-1"><h5>ID</h5></th>
                <th class="col-md-2"><h5>Description</h5></th>
                <th class="col-md-2"><h5>Store Qty</h5></th>
                <th class="col-md-2"><h5>Amount</h5></th>
                <th class="col-md-2"><h5>Quantity</h5></th>
                <th class="col-md-2"><h5>Total [$]</h5></th>
                <th class="col-md-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in itemList">
                <td class="col-md-1">{{item.id}}</td>
                <td class="col-md-2">{{item.description}}</td>
                <td class="col-md-2">{{item.quantity - purchasedQuantity[$index]}}</td>
                <td class="col-md-2">{{item.unitPrice}}</td>
                <td>
                  <input class="form-control"
                         type="number"
                         min="1"
                         max="{{item.quantity}}"
                         ng-model="purchasedQuantity[$index]"
                         ng-change="calculateFinal()">
                </td>
                <td class="col-md-2">{{purchasedQuantity[$index] * item.unitPrice |number:2}}</td>
                <td class="col-md-1"><button class="btn btn-default btn-sm" ng-click="removeFromItemList(item)"><i class="fa fa-times"></i></button></td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>
      <br />
      <br />

      <div class="row" ng-show="newInvoice.shipTo">
        <img src="../../libs/xyz512-logo.png" alt="logo" style="width: 45%; padding-left: 70px; padding-top: 30px;" />
        <div style="width:30%; float:right; font-size:14px">
          <p><strong>Subtotal: {{subTotal | number:2}}$</strong></p>
          <p><strong>Tax Rate: 17% </strong></p>
          <p><strong>Tax: {{tax | number:2}}$</strong></p>
          <h4><strong>TOTAL: {{total | number:2}}$</strong></h4>
        </div>
      </div>
      <br />

    </div><!--end modal body-->
    <div class="modal-footer bg-info">
      <button class="btn btn-danger" ng-click="cancelNewInvoice()">Cancel</button>
      <button class="btn btn-primary" ng-click="createNewInvoice()">Submit</button>
    </div><!--end modal footer-->
  </div><!--end modal content-->
</div><!--end modal dialog-->