<div>
  <ng-form class="panel-body" #id="newCompany">
    <div class="user-leftColumn" style="width: 45%">
      <p>Name: </p>
      <input type="text" class="form-control" ng-model="newCompany.name" />
      <p>Street address: </p>
      <input type="text" class="form-control" ng-model="newCompany.streetAddress" />
      <p>Zip code: </p>
      <input type="number" class="form-control" ng-model="newCompany.zipCode" />
      <p>City: </p>
      <input type="text" class="form-control" ng-model="newCompany.city"/>
      <p>Phone number: </p>
      <input type="text" class="form-control" ng-model="newCompany.phoneNumber"/>
    </div>
    <div class="user-rightColumn" style="width: 45%;">
      <p>Company image URL</p>
      <input type="text" class="form-control" ng-model="newCompany.companyUrl"/>
      <br />
      <br />
      <br />
      <br />
      <img class="company-image" src="{{newCompany.companyUrl}}" alt="" />
    </div>
  </ng-form>  
</div>
<div class="newCompanyButtons">
    <a href="#/companies" class="btn btn-primary" ng-click="createNewCompany()">Save</a>
    <a href="#/companies" class="btn btn-default">Cancel</a>
</div>
