#newInvoiceModal {
    overflow-y:scroll;
}

#customerListModal {
    overflow-y:scroll;
}

#title-billing {
    padding-left: 30px;
    margin-top: 0;
    padding-top: 21px;
    padding-bottom: 10px;
}
#itemListModal {
    overflow-y: scroll;
}

#pad {
    width: 90%;
    margin: auto;
}

#editInvoiceModal {
    overflow-y: scroll;
}
#qtr p
{
    font-size:3vw;
}

.yearlyIncome p {
    font-size:1.4vw;
    text-align: center;
}
.yearlyIncome th.ng-binding {
    font-size:1.4vw;

}
nav.navbar.navbar-inverse.navbar-fixed-top {
    font-size:1.2vw;
}


.page-header h1 {
    font-size: 3vw;
}

.loader {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.companies .panel {
    width: 31%;
    margin: 4px 10px 4px 10px;
    display: inline-block;
}

.companies .panel-title {
    font-size: 1.3vw;
    font-weight:bold;
}

.companies .panel-body p {
    width: 95%;
    font-size: 1vw;

}


.companies .panel-heading {
    text-align:center;
}

#CompanyPanelButtons {
    height:35px;
}

.newCompanyButtons {
    float:right;
}
#newCompany, input#inputDefault {
    width:80%;
}
#newCompany p
{
    padding:20px;
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    outline-color: #008cba;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="number"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}

.container-fluid.ng-scope
 {
    border:#008cba solid;
    width:80%;
}

.companycontainer {
    position: relative;
    display: inline-block;
    width: 28%;
    height: 250px;

    margin: 4px 50px 4px 10px;
}

.companyoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.companycontainer:hover .companyoverlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.companycontainer img {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
}

.companytitle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.companycontainer:hover .companytitle {
    top: 90px;
}

.companybutton {
    position: relative;
    width: 50%;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.companybutton a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.companycontainer:hover .companybutton {
    opacity: 1;
}

.companybuttons {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.w3ls-main {
    width: 620px;
    margin: 0 auto;
    padding: 2em;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    -moz-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    box-shadow: 0px 1px 3px 3px rgba(253, 249, 249, 0.75);
}

/*Edit user form*/
body {
    margin: auto;
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
}

.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}

.info i {
    color: #F6AA93;
}

form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: left
}

form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}

h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin: 50px 0px 0px 0px
}

input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration: inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

i {
    color: #555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact {
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.leftcontact {
    width: 49.5%;
    float: left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width: 49.5%;
    float: right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show, .show {
display: block;
}

.profile-image{
    height:20%;
    margin: auto;
    background: center center no-repeat;
    background-size:contain;
    border-radius: 25%;

    
}

.user-leftColumn {
    width: 45%;
    float: left;
}

.user-rightColumn {
    width: 45%;
    float: right;
}
.user-rightColumn img {
    width: 99%;
}

.company-leftColumn {
    width: 45%;
    float: left;
}

.company-rightColumn {
    width: 45%;
    float: right;
}

.company-rightColumn .company-image {
    border: 1px solid #ddd;
    width: 450px;
    border-radius: 25%;
    margin-left: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.login-btn {
    background-color: #009688 !important;
}
.companycontainer .fa-pencil-square-o {
    color: white;
}

.companycontainer .fa-times {
    color: white;
}

.logo {
}